body {
    background-color: mistyrose;
    padding-top: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

text{
    color:white;
}

hr {
    margin-top: -15px;
    width: 90%;
    height: 7px;
    background: white;
}

p {
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 19px;
}
/*****************************************************************/
/*******Begin Application CSS********/

/*Foreground of the application*/
.foreground {
    border-radius: 25px;
    background-color: #CC3611;
    max-width: 700px;
    min-height: 1224px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #888888;
}
@media screen and (max-width: 699px){
    .foreground{
        width: 100%;
    }
}
/*Top of the application - title*/
.app-header {
    font-size: 55px;
    padding: 5% 5% 0 5%;
    color: white;
}
@media screen and (max-width: 699px){
    .app-header{
        font-size: 35px;
        padding-bottom: 3%;
    }
}
/*sub header of the title*/
.app-sub-header {
    text-align: right;
    font-size: 35px;
    margin-right: 5%;
    color: white;
    margin-top: -25px;
}
@media screen and (max-width: 699px){
    .app-sub-header{
        font-size: 25px;
    }
}